UPSTOX_TOKEN=
NEON_DATABASE_URL=
INDEX_BASELINE_HOUR=9
INDEX_BASELINE_MINUTE=18
INDEX_MONEY_FLOW_SEARCH_WINGS=6
INDEX_FROZEN_OTM_WINGS=3
INDEX_SUBSCRIPTION_WINGS=12
NIFTY_SPOT_KEY=NSE_INDEX|Nifty 50
BANKNIFTY_SPOT_KEY=NSE_INDEX|Nifty Bank
